* {
    font-family: Space Mono;
}

#MainSec {
    border: dashed;
    padding-top: 5%;
    margin: 5%;
}

#MainSecText {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
}

#footer {
    background-attachment: fixed;
    background-color: rgb(94, 94, 94);
    text-align: center;
    align-items: center;
}

#title {
    color: rgb(175, 0, 0);;
}

.container {
    border: dashed;
    margin-top: 3%;
}

#MainSecPic {
    padding-bottom: 5%;
}

#redhover:hover {
    color: rgb(175, 0, 0);
}

#MainSec2 {
    border: dashed;
    margin: 5%;
}

#ProgrammingImage {
    padding: 5%;
    width: 100px;
}

.col-lg-3 {
    align-items: center;
}