* {
    font-family: Space Mono;
}

#MainSec {
    border: dashed;
    padding-top: 5%;
    margin: 5%;
}

#MainSecText {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    text-transform: uppercase;
}

#footer {
    background-attachment: fixed;
    background-color: rgb(94, 94, 94);
    text-align: center;
}

h1 {
    color: rgb(175, 0, 0);;
}

.container {
    border: dashed;
    margin-top: 3%;
}

#MainSecPic {
    padding-bottom: 5%;
}